<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Log in-ExpressWay</title>
    <link rel="stylesheet" href="/static/css/login2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <!--form area start-->
    <div class="form">
        <!--login form start-->
        <form class="login-form" action="{% url 'ad' %}" method="post">
            {% csrf_token %}
            <i class="fas fa-user-circle"></i>
            <h1 class="display-4" style="color:white;">Admin Login</h1>
            </br>
            <input class="user-input" type="text" name="username" placeholder="Admin Username" required>
            <input class="user-input" type="password" name="pass1" placeholder="Admin Password" required>
            <div class="options-01">
                <label class="remember-me"><input type="checkbox" name="">Remember me</label>
                <a href="#">Forgot your password?</a>
            </div>
            <input class="btn" type="submit" name="" value="LOGIN">
            <div class="options-02">
                <p>Not admin? <a href="{% url 'signin' %}"> User Login </a></p>
                {% for message in messages %}
                <p><h4></br>{{message}}</h4></p>
                {% endfor %}
            </div>
        </form>
        <!--login form end-->
        
    </div>
    <!--form area end-->

    <script type="text/javascript">
        $('.options-02 a').click(function () {
            $('form').animate({
                height: "toggle", opacity: "toggle"
            }, "slow");
        });
    </script>

</body>

</html>